In [1]:
import pandas as pd
import numpy as np
import pickle

from zlu_functions import *
from nel_functions import *

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
pickle_in=open('hedge_dfs_subset.pickle','rb')
output_dct=pickle.load(pickle_in)

In [3]:
output_dct.keys()

dict_keys(['FST20030321', 'FST20040315', 'FST20050315', 'FST20060316', 'FST20070228', 'FST20080228', 'FST20090302', 'FST20100301', 'FST20110224', 'FST20120222', 'FST20130222', 'FST20140226', 'GDP20030327', 'GDP20040412', 'GDP20060315', 'GDP20070314', 'GDP20080313', 'GDP20090227', 'GDP20100226', 'GDP20110222', 'GDP20120224', 'GDP20130222', 'GDP20140221', 'GDP20150302', 'ISRL20030331', 'ISRL20040330', 'ISRL20050331', 'ISRL20060324', 'ISRL20070316', 'ISRL20090323', 'ISRL20100312', 'ISRL20110311', 'ISRL20130315', 'ISRL20140317', 'ISRL20150310', 'ISRL20160314', 'ISRL20170314', 'MRO20030310', 'MRO20040309', 'MRO20050310', 'MRO20060306', 'MRO20070301', 'MRO20080229', 'MRO20090227', 'MRO20100226', 'MRO20110228', 'MRO20120229', 'MRO20130222', 'MRO20140228', 'MRO20150302', 'MRO20160225', 'MRO20170224', 'PLLL20050316', 'PLLL20060316', 'PLLL20070228', 'PLLL20080220', 'PLLL20090223', 'XCO20060331', 'XCO20070319', 'XCO20080229', 'XCO20090226', 'XCO20100224', 'XCO20110224', 'XCO20120227', 'XCO20130221', 'XCO20140226', 'XCO20150225', 'XCO20160302', 'XCO20170316'])

In [4]:
another_dct = trimDictonary(output_dct, [])

In [5]:
for k in another_dct.keys():
    for i in range(len(another_dct[k])):
        df=another_dct[k][i]
        df=set_col_headers(df)
        df=del_subset_col(df)
        another_dct[k][i]=df

In [6]:
delete_duplicated(another_dct)

defaultdict(list,
            {'FST20030321': [9, 8, 7, 6, 5],
             'FST20040315': [9, 8, 7, 6, 5],
             'FST20050315': [9, 8, 7, 6, 5],
             'FST20060316': [7, 6, 5, 4],
             'FST20070228': [7, 6, 5, 4],
             'FST20080228': [9, 8, 7, 6, 5],
             'FST20090302': [7, 6, 5, 4],
             'FST20100301': [9, 8, 7, 6, 5],
             'FST20110224': [9, 8, 7, 6, 5],
             'FST20120222': [7, 6, 5, 4],
             'FST20130222': [9, 8, 7, 6, 5],
             'FST20140226': [9, 8, 7, 6, 5],
             'GDP20060315': [1],
             'GDP20070314': [3, 2],
             'GDP20080313': [5, 4, 3],
             'GDP20090227': [3, 2],
             'GDP20100226': [1],
             'GDP20110222': [1],
             'GDP20120224': [3, 2],
             'GDP20130222': [3, 2],
             'GDP20140221': [3, 2],
             'GDP20150302': [1],
             'ISRL20090323': [1],
             'ISRL20100312': [5, 4, 3],
             'ISRL20110311': [7, 6, 5, 4],
             'MRO20040309': [1],
             'MRO20060306': [1],
             'MRO20080229': [1],
             'MRO20090227': [1],
             'MRO20100226': [3, 2],
             'MRO20130222': [3, 2],
             'MRO20160225': [1],
             'MRO20170224': [5, 4, 3],
             'PLLL20050316': [5, 4, 3],
             'PLLL20060316': [5, 4, 3],
             'PLLL20070228': [3, 2],
             'PLLL20080220': [7, 6, 5, 4, 3],
             'PLLL20090223': [7, 6, 5, 4],
             'XCO20060331': [11, 10, 9, 8, 7, 6],
             'XCO20070319': [11, 10, 9, 8, 7, 6],
             'XCO20080229': [5, 4, 3],
             'XCO20090226': [3, 2],
             'XCO20100224': [3, 2],
             'XCO20110224': [5, 4, 3],
             'XCO20120227': [3, 2],
             'XCO20130221': [5, 4, 3],
             'XCO20140226': [3, 2],
             'XCO20150225': [3, 2],
             'XCO20160302': [3, 2],
             'XCO20170316': [3, 2]})

In [7]:
# Subset table example
another_dct['FST20130222'][0]
another_dct['FST20130222'][1]
another_dct['FST20130222'][2]
another_dct['FST20130222'][3]

,",Commodity Swaps,,Swap Term",",Commodity Swaps,Natural Gas (NYMEX HH),BbtuPer Day",",Commodity Swaps,Natural Gas (NYMEX HH),WeightedAverageHedged Priceper MMBtu",",Commodity Swaps,Natural Gas (NYMEX HH),Fair Value(In Thousands)",",Commodity Swaps,Oil (NYMEX WTI),BarrelsPer Day",",Commodity Swaps,Oil (NYMEX WTI),WeightedAverageHedged Priceper Bbl",",Commodity Swaps,Oil (NYMEX WTI),Fair Value(In Thousands)"
4,Calendar 2013,160,$3.98,$25349,4000,$95.53,$3341
5,Calendar 2014,40,4.50,6775,,,

,",Commodity Options,,Underlying Term",",Commodity Options,,Option Expiration",",Commodity Options,Natural Gas (NYMEX HH),Underlying BbtuPer Day",",Commodity Options,Natural Gas (NYMEX HH),UnderlyingHedged Priceper MMBtu",",Commodity Options,Natural Gas (NYMEX HH),Fair Value(In Thousands)",",Commodity Options,Oil (NYMEX WTI),UnderlyingBarrelsPer Day",",Commodity Options,Oil (NYMEX WTI),UnderlyingHedged Priceper Bbl",",Commodity Options,Oil (NYMEX WTI),Fair Value(In Thousands)"
4,Gas Swaptions,Gas Swaptions,,,,,,
5,Calendar 2014,December 2013,30,$4.50,"$(2,349",,,
6,Calendar 2014,December 2013,10,4.51,Neg778,,,
7,Oil Swaptions,Oil Swaptions,,,,,,
8,Calendar 2014,December 2013,,,,2000,110.00,Neg1776
9,Calendar 2014,December 2013,,,,1000,109.00,Neg954
10,Calendar 2014,December 2013,,,,2000,100.00,Neg3490
11,Calendar 2015,December 2014,,,,3000,100.00,Neg7204

,",Commodity Swaps,,Swap Term",",Commodity Swaps,Natural Gas(NYMEX HH),BbtuPer Day",",Commodity Swaps,Natural Gas(NYMEX HH),WeightedAverageHedged Priceper MMBtu",",Commodity Swaps,Oil(NYMEX WTI),BarrelsPer Day",",Commodity Swaps,Oil(NYMEX WTI),WeightedAverageHedged Priceper Bbl"
4,Calendar 2013,160,$3.98,4000,$95.53
5,Calendar 2014,40,4.50,,

,",Commodity Options,,Underlying Term",",Commodity Options,,Option Expiration",",Commodity Options,Natural Gas (NYMEX HH),Underlying Bbtu Per Day",",Commodity Options,Natural Gas (NYMEX HH),UnderlyingHedged Priceper MMBtu",",Commodity Options,Oil (NYMEX WTI),UnderlyingBarrels Per Day",",Commodity Options,Oil (NYMEX WTI),UnderlyingHedged Priceper Bbl"
4,Gas Swaptions,,,,,
5,Calendar 2014,December 2013,30,$4.50,,
6,Calendar 2014,December 2013,10,4.51,,
7,Oil Swaptions,,,,,
8,Calendar 2014,December 2013,,,2000,110.00
9,Calendar 2014,December 2013,,,1000,109.00
10,Calendar 2014,December 2013,,,2000,100.00
11,Calendar 2015,December 2014,,,3000,100.00

In [8]:
# ['FST20130222'][3, 2] is removed
delete_subset(another_dct)

defaultdict(list,
            {'FST20070228': [2],
             'FST20080228': [4],
             'FST20100301': [4],
             'FST20110224': [4],
             'FST20120222': [2],
             'FST20130222': [3, 2],
             'FST20140226': [3, 2],
             'PLLL20060316': [1],
             'PLLL20090223': [2],
             'XCO20140226': [0],
             'XCO20150225': [0],
             'XCO20160302': [0]})