In [1]:
import pandas as pd
import numpy as np
import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
keep0 = pd.DataFrame(np.random.randint(0,10,size=(5, 3)), columns=['vol1', 'Price1', 'vol2'])
drop0 = pd.DataFrame(np.random.randint(0,10,size=(5, 3)), columns=['Vol1', 'price1', 'Vol2'])
keep1 = pd.DataFrame(np.random.randint(0,10,size=(5, 3)), columns=['shit', 'Price1', 'damn'])
drop1 = pd.DataFrame(np.random.randint(0,10,size=(5, 3)), columns=['shitvol1', 'price1', 'damnVol2'])

In [3]:
keep0
keep1
drop0
drop1

   vol1  Price1  vol2
0     7       1     3
1     7       5     1
2     0       2     4
3     7       7     0
4     0       1     6

   shit  Price1  damn
0     6       0     7
1     1       0     4
2     4       0     3
3     8       7     2
4     0       8     4

   Vol1  price1  Vol2
0     4       9     3
1     0       9     7
2     0       8     2
3     0       7     7
4     6       5     5

   shitvol1  price1  damnVol2
0         5       8         0
1         0       2         1
2         8       6         1
3         2       8         4
4         5       1         7

In [4]:
test_dict = {
    'abc': [keep0, drop0],
    'def': [keep1, drop1]
}

In [5]:
keep0.columns.astype(str).str.startswith(('vol', 'Price')).any()

True

In [6]:
yo = keep0.columns.astype(str)
yo1 = drop0.columns.astype(str)

In [7]:
(np.array([re.findall('^vol\d+', yo[x]) == [] for x in range(len(yo))]).all() &
np.array([re.findall('^Price\d+', yo[x]) == [] for x in range(len(yo))]).all())

False

In [8]:
from collections import defaultdict

In [9]:
def delete_uninformative(dictionary):
    '''
    This function removes any dataframes where all of the following conditions are satisfied:
    1) no column name starts with 'vol\d+',
    2) no column name starts with 'Price\d+',
    where '\d+' is regex and represents any sequence of numbers.
    
    Outputs a dictionary indicating deleted tickers and respective indices.
    
    dictionary: dictionary with file_header as keys and list of dataframes as values
    '''
    
    # Initialize a dictionary with list as values to house the indices
    deleted_df = defaultdict(list)

    for k in dictionary.keys():
        target_list = dictionary[k]
        uninformative_index = []

        for index in range(len(target_list)):
            df = target_list[index]
            if isinstance(df, pd.DataFrame):
                df_col = df.columns.astype(str)
                # Condition 1 and 2 respectively
                if (np.array([re.findall('^vol\d+', df_col[x]) == [] for x in range(len(df_col))]).all() &
np.array([re.findall('^Price\d+', df_col[x]) == [] for x in range(len(df_col))]).all()):
                    uninformative_index.append(index)
                
        to_be_del = uninformative_index
        to_be_del.sort(reverse=True)

        for index in to_be_del:
            del target_list[index]
            deleted_df[k].append(index)

    return deleted_df

In [10]:
delete_uninformative(test_dict)

defaultdict(list, {'abc': [1], 'def': [1]})